<div class="column">
    <div class="row0"><img src="https://github.com/gkiranp/gkiranp.github.io/blob/master/_includes/kp.jpeg" alt="KiranPuranik"></div>
    <div class="row1"><a href="https://stackoverflow.com/story/kiranpuranik"> <i style="margin-right: 0.5em; color: #EEEEEE;"></i>Stackoverflow</a></div>
    <div class="row2"><a href="https://github.com/gkiranp/"> <i style="margin-right: 0.5em; color: #EEEEEE;"></i>GitHub</a></div>
    <div class="row3"><a href="https://www.linkedin.com/in/kiranpuranik"> <i style="margin-right: 0.5em; color: #EEEEEE;"></i>LinkedIn</a></div>
</div>