<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="kp.jpeg" alt="Kiran" style="width:100%">
  <h2>Kiran</h2>
  <p class="title">C++(11)   C   Python   Qt</p>
  <p class="title">Embedded Software Engineer</p>
  <p class="title">System Programming</p>
  <p class="title">Linux | Windows | Android</p>
  <a href="https://stackoverflow.com/story/kiranpuranik"><i class="fa fa-stack-overflow"></i></a>
  <img hspace="pixels">
  <a href="https://github.com/gkiranp/"><i class="fa fa-github"></i> </a>
  <img hspace="pixels">
  <a href="https://www.linkedin.com/in/kiranpuranik"><i class="fa fa-linkedin"></i> </a>
  <img hspace="pixels">
  <a href="mailto:mail2kpuranik@gmail.com"><i class="fa fa-at"></i> </a>
  <p><button>-</button></p>
  <p><b>Tags</b> {% include archive.html %}</p>
</div>