<div class="rounded-social-buttons">

{%- if site.email -%}
<a title="{{ _locale_string_email }}"
class="social-button email" itemprop="email"
href="mailto:{{ site.email | encode_email }}" target="_blank">
<i class="far fa-envelope"></i>
</a>
{%- endif -%}

{%- if site.linkedin -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'LinkedIn' }}"
class="social-button linkedin"
href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs"
target="_blank">
<i class="fab fa-linkedin"></i>
</a>
{%- endif -%}

{%- if site.github -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'GitHub' }}"
class="social-button github"
href="https://www.github.com/{{ site.github }}" itemprop="sameAs"
target="_blank">
<i class="fab fa-github"></i>
</a>
{%- endif -%}

{%- if site.stackoverflow -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Stackoverflow' }}"
class="social-button stackoverflow"
href="https://stackoverflow.com/story/{{ site.stackoverflow }}" itemprop="sameAs"
target="_blank">
<i class="fab fa-stackoverflow"></i>
</a>
{%- endif -%}

</div>
